<p-panel header="Pipes Numericos "class="p-1">

  <p>
    Pipes incluidos en agular Usualmente en el common Module
  </p>
</p-panel>

<div class="grid ">

  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas " subheader="del presente año">
     {{totalSell +1235| number:'1.2-2'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas brutas " subheader="del presente año">
     {{totalSell | currency:'COP':'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganacias Porcentuales " subheader="del presente año">
     {{percent | percent:'1.2-2'}}
    </p-card>
  </div>
</div>
